body {
	background-color: lightcyan;
}

.body-div {
	border: 1px solid black;
	box-shadow: 2px 5px 100px 10px black;
	width: 800px;
    margin: auto;
    font-family: fantasy;
    position: relative;
    top: 30px;

}

.header-container {
	background-color: bisque;
    height: 250px;
}

.font {
	font-family: cursive;
}

.header {
	padding-left: 25px;
    position: absolute;
}

.header-quote {
    text-align: right;
    vertical-align: middle;
    line-height: 380px;
    margin-right: 60px;
}

.header-author {
	position: relative;
    text-align: right;
    bottom: 175px;
    margin-right: 30px;
}

.input-container {
	background-color: lightskyblue;
    height: 180px;
    border-top: 1px solid black;
}

.enter-quote-text {
	position: absolute;
	padding-left: 25px; 
}

.input-box {
	text-align: center;
	position: relative;
    top: 25px;
}

.pad {
	padding: 5px;
}

.append-div {
    position: relative;
    padding: 15px;


}

.parent-container {
	border-top: 1px solid black;
    
}

.undo-button {
    margin: 10px;
}
